produit{
	display:block;
}
nom,nombre,refCommande{
	display:inline;
}
nom{
	font-weight:bold;
	color:green;
	font-variant:small-caps;
	text-decoration:underline;
}
nombre{
	font-style : italic;
}
refCommande{
	color:gray;
}
nom:after{
	content:":";
}
nombre:before{
	content:"quantite commande:";
}
nombre:after{
	content:" ";
}
refCommande:before{
	content: "Reference :";
}
refCommande:after{
	content:"(Commande passee le "attr(date)")";